body {
  padding: 0;
  margin: 0;
  height: auto;
  position: relative;
  background-size: auto;
  background-image: url(fondo2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.ex0 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.ex1 {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.ex2 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.ex3 {
  height: 100px;
  width: 800px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color:white;
  box-shadow: 5px 5px 25px #222 inset;
}
div.ex4 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  * {
  box-sizing: border-box;
}
.com
  .box{
    float: left;
    width: 50%;
    padding: 50px;
  }

  .center {
    position: relative;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  ::-webkit-scrollbar-track {
      background-color: blue;
}
button{

    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 10px 40px;
}

.range-slider {
    margin-top: 30vh;

}
.rs-range {
    margin-top: 29px;
    width: 600px;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #ffffff;
        border-radius: 0px;
        border: 0px solid #010101;
    }
    &::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #ffffff;
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-webkit-slider-thumb {
        box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }
  &::-moz-range-thumb{
        box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
  }
  &::-moz-focus-outer {
    border: 0;
    }
}
.rs-label {

    position: relative;
    transform-origin: center center;
    display: block;
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 22px;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left: -38px;
    left: attr(value);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    &::after {
        content: "kg";
        display: block;
        font-size: 20px;
        letter-spacing: 0.07em;
        margin-top: -2px;
    }

}
